/backup/*
/datasets/Confocal/*
/datasets/STED/*
/datasets/STED_HC/*
/maunal_saves/*
/outputs/application_run/*
/outputs/demo_run/*
/outputs/train_run/*
/maunal_saves
__pycache__/
.ipynb_checkpoints/
*.log
*.npy
*.png
*.pth
*.nosense