# 数据集文件
/datasets/Confocal/*
/datasets/STED/*
/datasets/STED_HC/*
# 输出文件
/maunal_saves/*
/outputs/application_run/*
/outputs/demo_run/*
/outputs/train_run/*
*.npy
*.png
*.pth
*.log
# 缓存文件
__pycache__/
# 备份文件
/backup/*
.ipynb_checkpoints/
# 备注文件
*.nonsense